/*pt*/
#pt0 {
    background-image: url('../image/daoyu/daoyubg.png');
    background-repeat: repeat; /* 设置背景重复 */
    background-position: top center; /* 设置背景位置 */
}

/*01*/
.daoyugroup01 {
    height: 800px;
    position: relative;
    z-index: 2;
    margin-bottom:0px;
}

.daoyugroup01 .tu-1{
    position:absolute;
    left:0%;
    top:0%;
    width: 40%; /* 设置图片的宽度 */
}

.daoyugroup01 .tu-1-2{
    position:absolute;
    right:0%;
    bottom:0%;
    width: 100%; /* 设置图片的宽度 */
}

.daoyugroup01 .grouptext-01{
    width:70%;
    left:30%;
    line-height:1.2em;
    padding-top: 130px;
    position: relative;
    z-index: 5;
}
